.container {
    position: relative;
}

.map {
    height: 500px;
}

.information {
    max-width: 200px;
}

.information h4 {
    margin: 0 0 5px;
    padding: 0;
}

.searchBox {
    padding: 15px;
    position: absolute;
    top: 10px;
    bottom: 30px;
    left: 10px;
    width: 350px;
    background: #fff;
    z-index: 1;
}

.dealersList {
    list-style: none;
    overflow: auto;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

.dealersList li {
    background: #f8f8f8;
    color: #333333;
    padding: 20px;
    margin: 0 0 1px 0;
    transition: background .4s ease;
    position: relative;
}

.dealersList li h4 {
    margin: 0 0 10px;
}